body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.input-box {
	display: flex;
	align-items: center;
	max-width: 300px;
	background: #fff;
	border: 1px solid #a0a0a0;
	border-radius: 4px;
	padding-left: 0.5rem;
	overflow: hidden;
	font-family: sans-serif;
}
.input-box .prefix {
	font-weight: 300;
	font-size: 14px;
}

.input-box input {
	flex-grow: 1;
	font-size: 14px;
	background: #fff;
	border: none;
	outline: none;
	padding: 0.5rem;
}

.input-box:focus-within {
	border-color: #777;
}
